.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}
.name {
  height: 150px;
  width: 150px;
  margin: 10px;
  /* background: lightyellow; */
  font-size: 11px;
  text-align: left;
}
