body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.pf-c-page {
  min-height: 100vh;
}

.product-card .product-image {
  display: block;
  margin: auto;
  max-height: 120px;
}
.product-card .product-title {
  margin: 10px 0 0;
  font-weight: 600;
}
.image {
  height: 50vh;
  width: auto;
}
.en_screens {
  margin-left: 20%;
  margin-right: 20%;
}
.mb-4,
.pf-c-divider.mb-4 {
  margin-bottom: var(--pf-global--spacer--xl);
}
.pass_fail_other_locale {
  float: right;
}
.pass_fail_EN_locale {
  float: left;
}
